---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ meta.name }}
    game: minecraft
  name: {{ meta.name }}-minecraft
spec:
  ports:
  - name: web
    port: 25565
    protocol: TCP
    targetPort: 25565
  selector:
    app: {{ meta.name }}
    game: minecraft
  type: NodePort
